*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Nunito", serif;
    background-color: black;
    color: white;
}
.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    bottom: 0px;
    position: sticky;
    margin-top: 535px;
    font-family: "Inter", serif;
}